@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    


    body {

        background-image: linear-gradient(to top,#3A20E6, #464166)

    }



    section#login {

        width: 700px;

    }

    p {

        text-align: center;
        

    }

    section#login div#imagem {

        float: left;
        width: 40%;
        height: 100%;

    }

    .campo {

        width: 40%;
        height: 40px;
        margin-left: 50%;

    }

    form > input[type=submit] {

    background-color: #4B39BB;
    cursor: pointer;
    width: 40%;
    

}

    form > input[type=submit]:hover {

        background-color: #4a39bbb9;

    }

    form > a {

        width: 40%;
        margin-left: 50%;

    }

    form > a:hover {

        background-color: #4a39bbb9;

    }

    

}



@media screen and (min-width: 992px) and (max-width: 1200px) {
   
    body {

        background-image: linear-gradient(to right,#3A20E6, #464166)

    }

    section#login {

        width: 900px;

    }

    section#login div#imagem {

        float: right;
        width: 40%;
        height: 100%;

    }

    

    
    div#formulario p {

        font-size: 1.2em;
        text-align: center;
    
    }




    .campo {

        width: 40%;
        height: 40px;
        margin-right: 50%;
        

    }

    form > input[type=submit] {

    background-color: #4B39BB;
    cursor: pointer;
    width: 40%;
    

}

    form > input[type=submit]:hover {

        background-color: #4a39bbb9;

    }

    form > a {

        width: 40%;
        margin-right: 50%;

    }

    form > a:hover {

        background-color: #4a39bbb9;

    }



}



@media screen and (min-width: 1200px) {
    
    body {

        background-image: linear-gradient(to bottom,#3A20E6, #464166)

    }

    section#login {

        width: 1100px;

    }

    div#formulario p {

        font-size: 1.2em;
        text-align: center;
    
    }

    section#login div#imagem {

        float: right;
        width: 40%;
        height: 100%;

    }

    .campo {

        width: 40%;
        height: 40px;
        margin-right: 50%;
        

    }

    form > input[type=submit] {

    background-color: #4B39BB;
    cursor: pointer;
    width: 40%;
    margin-right: 50%;
    

}

    form > input[type=submit]:hover {

        background-color: #4a39bbb9;

    }

    form > a {

        width: 40%;
        margin-right: 50%;
        
        

    }

    form > a:hover {

        background-color: #4a39bbb9;

    }

}