@charset "UTF-8";


/* paleta de cores 

  #3A20E6
  #4B39BB
  #4F4491
  #464166 */



* {

    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    background-color: #3A20E6;
    height: 100vh;
    width: 100vw;

}

main {

    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 300px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}

section#login div#imagem {

    display: block;
    background: #3A20E6 url(../imagens/pexels-brett-sayles-1059608.jpg);
    height: 200px;
    background-size: cover;

}

section#login div#formulario {

    display: block;
    padding: 10px;

}

div#formulario h1 {

    text-align: center;
    margin-bottom: 10px;

}

form > input[type=submit] {

    display: block;
    font-size: 1em;
    width: 90%;
    height: 40px;
    background-color: #4B39BB;
    color: white;
    border-radius: 5px;
    border: none;
    margin: auto;
    padding: 5px;

}

form > input[type=submit]:hover {

    background-color: #4a39bbb9;
    cursor: pointer;

}

form > a {

    display: block;
    font-size: 1em;
    width: 90%;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    margin: auto;
    margin-top: 5px;
    padding: 5px;

}

form > a:hover {

    background-color: #4a39bb;
    cursor: pointer;
    color: white;

}

.campo {

    background-color: #3A20E6;
    width: 90%;
    height: 40px;
    border-radius: 5px 0px;
    margin: auto;
    margin-bottom: 5px;
    

}

div.campo label {

    display: none;

}